# Blender
*.blend[1-9]
dist/
pbr_generation.blend
pbr_generation - 2.blend
pbr_generation - 3.blend
pbr_generation - comparison.blend

# Python
*.pyc
__pycache__/

# Directories
HDRI/
Textures/
Renders/