# Blender
*.blend[1-9]
dist/
pbr_generation - comparison.blend
pbr_generation - outputNew.blend
pbr_generation - outputNew2.blend
pbr_generation - outputNew3.blend
pbr_generation - outputTest.blend
pbr_generation - outputExample.blend

# Python
*.pyc
__pycache__/

# Directories
HDRI/
Textures/